################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/_site
/.vs/FreelanceComputing.github.io/v15/.suo
/demoCssSite/demoCssSite/bin
/demoCssSite/demoCssSite/obj/Debug
/demoHNM237/demoHNM237/bin
/demoHNM237/demoHNM237/obj/Debug
/demoHNM237/.vs
/demoCssSite/.vs
/demoCssSite/demoCssSite/obj/Release/demoCssSite.csproj.CoreCompileInputs.cache
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
