################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/_site
/.vs/FreelanceComputing.github.io/v15/.suo
