<!-- Subscribe Modal -->
<div id="subscribe" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
      <h2 class="w3-wide">SUBSCRIBE</h2>
      <p>Join my mailing list to receive updates on the latest blog posts and other things.</p>
      <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
      <button type="button" class="w3-button w3-block w3-padding-large /*w3-red*/ w3-margin-bottom" style="color:#fff !important;background-color:#e5877e" onclick="document.getElementById('subscribe').style.display='none'">Yes. Email me.</button>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey" style="padding:32px">
  <p style="text-align: center;"><a href="{{site.url}}" class="w3-button w3-black w3-padding-large w3-margin-bottom" ><i class="fa fa-home w3-margin-right"></i>Home</a></p>
  <p style="text-align: center;">Copyright &copy; Mohmanyang 2016</p>
</footer>