---
layout: template
---
<div id="blogEntry" class="w3-card-4 w3-margin w3-white">
	<img src='{{site.baseurl}}{{page.image}}' alt="{{page.credit}}" style="width:100%">
	{% if page.credit %}<p style="text-align:center;text-decoration-line:underline;line-height:0.5;font-size:11px">{{page.credit}}</p>{% endif %}
	<div class="w3-container">
		<h3>{{ page.postHeading }}</h3>
		<h5>{{ page.subHeading }}</h5>
		<h5><span class="w3-opacity">{{page.date | date_to_string}}</span></h5>
		<h5>Tags: {% for tag in page.tags limit:3%}<span class="w3-tag w3-black w3-margin-bottom">
					<a href="{{site.baseurl}}/tag/{{tag}}#entries" title="View posts tagged with &quot;{{tag}}&quot;">
						{{tag}}
					</a>
				</span>&nbsp; {% if forloop.last != true %} {% endif %} {% endfor %}
		</h5>		
	</div>
	<div class="w3-container">
		<!-- {{ page.excerpt }} -->
		{% if page.tags contains 'poetry'%}
			<div id="postContent" style="padding-right:20px;line-height:1.6">
		{% else %}
			<div id="postContent" class="w3-justify" style="padding-right:20px;line-height:1.6">
		{% endif %}
			{{content}}
			<hr style="margin-top:0px">
			<p class="w3-right">
				<button id="reactionsBtn" class="w3-button w3-black" onclick="{% if site.data.reactions[page.postHeading] %}viewHideReactions('reactions'){% else %}javascript:void(0){% endif %}">
					<b>Reactions  </b><span class="w3-tag w3-white">{% if site.data.reactions[page.postHeading] %}{{site.data.reactions[page.postHeading].size}}{% else %}0{% endif %}</span>
				</button>
				<button id="hideBtn" style="display:none" class="w3-button w3-black" onclick="viewHideReactions('reactions')">
					<b>Hide Reactions</b>
				</button>
			</p>
			<p class="w3-clear"></p>
			<div id="reactions" style="display:none">
				{% for react in site.data.reactions[page.postHeading] %}
					<div class="w3-row w3-margin-bottom">
						<hr style="margin-top:0px">
						<div class="w3-col l10 m9">
							<h4>{{react.name}} <span class="w3-opacity w3-medium">{{react.dateTime}}</span></h4>
							<p>{{react.reply}}</p>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="w3-col">
			    <hr style="margin-top:0px">
				<p><button class="w3-button w3-padding-large w3-white w3-border" onclick="document.getElementById('reply').style.display='block'" ><b>Submit a reply</b></button></p>
			  </div>
		</div>
	</div>
</div>