<!DOCTYPE html>
<html>
{%include head.html%}
<body class="w3-light-grey">
	<!-- w3-content defines a container for fixed size centered content, 
	and is wrapped around the whole page content, except for the footer -->
	<div class="w3-content" style="max-width:1600px">
		{%include site-header.html%}
		
	  <!-- Grid -->
	  <div class="w3-row w3-padding w3-border">
		
		<!-- Load search results here, edit js to hide the div with id=entries -->
		<div id="search_results" class="w3-col l8 s12"></div>

		<!-- Blog entries -->
		<div id="entries" class="w3-col l8 s12">
			{{content}}
		<!-- END BLOG ENTRIES -->
		</div>

		<!-- About/Information menu -->
		<div class="w3-col l4">
      
		<!-- Search -->
		<form id="site_search" action="get" class="form-search">
		  <div class="w3-white w3-margin">
			<div class="w3-container w3-padding w3-black">
			  <h4 style="text-align:center">Search</h4>
			</div>
			<div class="w3-container w3-white">
			  <p>Find something on the blog.</p>
			  <p><input id="search_box" class="w3-input w3-border" type="text" placeholder="Enter Search Term" style="width:100%"></p>
			  <p id="displaySearchError" style="display:none; color:red">Please enter a search term</p>
			  <p><button id="searchBtn" type="submit" class="w3-button w3-block /*w3-blue*/"  style="color:#fff !important;background-color:#e5877e">Search</button></p>
			</div>
		  </div>
		</form>

		<!-- Advertising -->
		<div class="w3-white w3-margin">
		<div class="w3-container w3-white">
		  <div class="w3-container w3-display-container w3-section" style="max-width:100%">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- premiere pub -->
			<ins class="adsbygoogle"
				 style="display:block"
				 data-ad-client="ca-pub-1803458561576079"
				 data-ad-slot="9513119141"
				 data-ad-format="rectangle, vertical"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		  </div>
		</div>
		</div>
		<hr>

		<!-- Featured -->
		<div class="w3-white w3-margin">
		<div class="w3-container w3-padding w3-black">
		  <h4 style="text-align:center">Featured Posts</h4>
		</div>
		<ul class="w3-ul w3-hoverable w3-white">
			{% for post in site.posts %}
				{% if post.featured %}
					<a href='{{ post.url }}#blogEntry' style="text-decoration:none">
						<li class="w3-padding-16">
							<img src='{{site.baseurl}}{{post.featuredImage}}' alt="{% if post.credit %}{{post.credit}}{% else %}Image{% endif %}" class="w3-left w3-margin-right" style="width:50px; height:50px">
							<span class="w3-large">{{post.postHeading}}</span>
							<br>
							<span>{{post.subHeading}}</span>
						</li>
					</a>
				{% endif %}
			{% endfor %}
		</ul>
		</div>
		<hr>

		<!-- Advertising -->
		<div class="w3-white w3-margin">
		<div class="w3-container w3-white">
		  <div class="w3-container w3-display-container w3-section" style="max-width:100%">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- deuxieme pub -->
			<ins class="adsbygoogle"
				 style="display:block"
				 data-ad-client="ca-pub-1803458561576079"
				 data-ad-slot="9513119141"
				 data-ad-format="rectangle, vertical"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		  </div>
		</div>
		</div>
		<hr>

		<!-- Tags -->
		<div class="w3-white w3-margin">
		<div class="w3-container w3-padding w3-black">
		  <h4 style="text-align:center">Tags</h4>
		</div>
		<div class="w3-container w3-white">
		  <p>
			{% for tag in tags %}
				<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">
					<a href="{{site.baseurl}}/tag/{{tag}}#entries" title="View posts tagged with &quot;{{tag}}&quot;">
						{{tag}}
					</a>
				</span>
			{% endfor %}
		  </p>
		</div>
		</div>
		<hr>
		
		<!-- Advertising -->
		<div class="w3-white w3-margin">
		<div class="w3-container w3-white">
		  <div class="w3-container w3-display-container w3-section" style="max-width:100%">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- troisieme pub -->
			<ins class="adsbygoogle"
				 style="display:block"
				 data-ad-client="ca-pub-1803458561576079"
				 data-ad-slot="9513119141"
				 data-ad-format="rectangle, vertical"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		  </div>
		</div>
		</div>
		<hr>
      
		<!-- Subscribe -->
		<div class="w3-white w3-margin">
		<div class="w3-container w3-padding w3-black">
		  <h4 style="text-align:center">Subscribe</h4>
		</div>
		<div class="w3-container w3-white">
		  <p>Receive new posts straight to your inbox.</p>
		  <form id="contactForm1" method="post">
              <input type="text" id="rat1" value="" style="display:none">
		      <p><input class="w3-input w3-border" id="email1" type="email" name="email" placeholder="Enter e-mail" style="width:100%" required=""></p>
			  <p id="displayEmailError1" style="display:none; color:red">Please enter a valid email address</p>
		      <p><button type="button" onclick="subscribe('#contactForm1')" class="w3-button w3-block /*w3-red*/" style="color:#fff !important;background-color:#e5877e">Yes. Email me.</button></p>
		  </form>
		</div>
		</div>
		<hr>
	  
		<!-- END About/Intro Menu -->
		</div>
	  <!-- END GRID -->
	  </div>
	<!-- END w3-content -->
	</div>

	{%include footer.html%}
	
	<!-- Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-77078550-1', 'auto');
	  ga('send', 'pageview');
	</script>

</body>
</html>