<!-- Subscribe Modal -->
<div id="subscribe" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
      <h2 class="w3-wide">SUBSCRIBE</h2>
      <p>Join my mailing list to receive updates on the latest blog posts and other things.</p>
	  <form id="contactForm2" method="post">
		<input type="text" id="rat2" value="" style="display:none">
		<p><input class="w3-input w3-border" id="email2" type="email" name="email" placeholder="Enter e-mail" required=""></p>
		<p id="displayEmailError2" style="display:none; color:red">Please enter a valid email address</p>
        <button type="button" onclick="subscribe('#contactForm2')" class="w3-button w3-block w3-padding-large /*w3-red*/ w3-margin-bottom" style="color:#fff !important;background-color:#e5877e">Yes. Email me.</button>
	  </form>
    </div>
  </div>
</div>

<!-- Thank You Modal -->
<div id="thank-you" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('thank-you').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
      <h2 class="w3-wide">Thank You</h2>
	  <p></p>
	  <p style="background-color:#e5877e; line-height:0.5; margin-bottom: 20px !important">&nbsp;</p>
      <p style="text-align: center;">Thanks for subscribing.</p>
      <p style="text-align: center;">Now you will receive emails each time a new post is published.</p>
	  <p style="text-align: center;">Keep an eye out on your Spam/Junk folder in case you do not see any new post alerts.</p>
    </div>
  </div>
</div>

<!-- No Results Modal -->
<div id="no-results" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('no-results').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
      <h2 class="w3-wide">No Results</h2>
	  <p></p>
	  <p style="background-color:#e5877e; line-height:0.5; margin-bottom: 20px !important">&nbsp;</p>
      <p style="text-align: center;">No results found.</p>
      <p style="text-align: center;">Please check spelling, spacing, and so on.</p>
	  <p style="text-align: center;">Make sure you are not searching for common words like "and", "the", "yet" etc.</p>
	  <!-- <p style="text-align: center;">Such words appear throughout the site and are automatically discarded during the search process.</p> -->
    </div>
  </div>
</div>

<!-- Reply Modal -->
<div id="reply" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('reply').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
      <h2 class="w3-wide">Submit a reply</h2>
      <p>&nbsp;</p>
	  <form id="replyForm" method="post">
		<input type="text" id="replyRat" value="" style="display:none">
		<p>Name</p>
		<p><input class="w3-input w3-border" id="replyName" type="text" name="alias" placeholder="Enter name" required="" maxlength="20"></p>
		<p id="displayReplyNameError" style="display:none; color:red">Please enter a name</p>
		<p>Comment</p>
		<p><textarea rows="3" class="w3-input w3-border" id="replyComment" type="text" name="comment" placeholder="Enter reply" required=""></textarea></p>
		<p id="displayReplyCommentError" style="display:none; color:red">Please enter your reply here</p>
		<p style="margin-bottom: 0px">Email Address</p>
		<h6 style="margin-top:0px;font-size:12px">Your email address will not be displayed</h6>
		<p><input class="w3-input w3-border" id="replyEmail" type="email" name="email" placeholder="Enter e-mail" required=""></p>
		<p id="displayReplyEmailError" style="display:none; color:red">Please enter a valid email address</p>
        <button type="button" onclick="reply('#replyForm', '{{page.url}}')" class="w3-button w3-block w3-padding-large /*w3-red*/ w3-margin-bottom" style="color:#fff !important;background-color:#e5877e">Yes. Submit now.</button>
	  </form>
    </div>
  </div>
</div>

<!-- Thanks for replying modal -->
<div id="thanks" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('thanks').style.display='none'" class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
      <h2 class="w3-wide">Thanks!</h2>
	  <p></p>
	  <p style="background-color:#e5877e; line-height:0.5; margin-bottom: 20px !important">&nbsp;</p>
      <p style="text-align: center;">Thanks for submitting a reply.</p>
      <p style="text-align: center;">In a few hours you will receive a verification code at the email address you provided.</p>
	  <p style="text-align: center;">Check your Spam/Junk folder in case the email has been filtered by your mail provider.</p>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey" style="padding:32px">
  <p style="text-align: center;"><a href="{{site.url}}" class="w3-button w3-black w3-padding-large w3-margin-bottom" ><i class="fa fa-home w3-margin-right"></i>Home</a></p>
  <p style="text-align: center;">Copyright &copy; Mohmanyang 2016</p>
</footer>