---
layout: template
title: "Mohmanyang"
subHeading: "Mohmanyang. Creative Writing. Opinion pieces. Poetry"
---

{% for post in paginator.posts %}
	<div id="blogEntry{{forloop.index}}" class="w3-card-4 w3-margin w3-white">
		<img src='{{site.baseurl}}{{post.image}}' alt="{{post.credit}}" style="width:100%">
		<div class="w3-container">
			<h3>{{ post.postHeading }}</h3>
			<h5>{{ post.subHeading }}</h5>
			<h5><span class="w3-opacity">{{post.date | date_to_string}}</span></h5>
			<h5>Tags: {% for tag in post.tags limit:3%}<span class="w3-tag w3-black w3-margin-bottom">
						<a href="{{site.baseurl}}/tag/{{tag}}#entries" title="View posts tagged with &quot;{{tag}}&quot;">
							{{tag}}
						</a>
					</span>&nbsp; {% if forloop.last != true %} {% endif %} {% endfor %}</h5>
			<p><span class="w3-hide-medium w3-hide-large"><b>Reactions  </b> <span class="w3-tag">{% if site.data.reactions[post.postHeading] %}{{site.data.reactions[post.postHeading].size}}{% else %}0{% endif %}</span></span></p>
		</div>
		<div class="w3-container">
			<!-- {{ post.excerpt }} -->
			<div id="postExcerpt{{forloop.index}}" class="w3-row w3-show" style="display:none">
				<div class="w3-col m8 s12">
				<p><button class="w3-button w3-padding-large w3-white w3-border" onclick="window.location.href='{{ post.url }}#blogEntry'" ><b>READ MORE >></b></button></p>
				</div>
				<div class="w3-col m4 w3-hide-small">
				  <p><span class="w3-padding-large w3-right"><b>Reactions  </b> <span class="w3-tag">{% if site.data.reactions[post.postHeading] %}{{site.data.reactions[post.postHeading].size}}{% else %}0{% endif %}</span></span></p>
				</div>
			</div>
		</div>
	</div>
	<hr>
{% endfor %}

<footer class="w3-margin">
	{% if paginator.total_pages > 1 %}
		{% if paginator.previous_page %}
			<button class="w3-button w3-black w3-padding-large w3-margin-bottom w3-hide-small" onclick="window.location.href='{{ paginator.previous_page_path }}#entries'" >&larr; Previous</button>
			<button class="w3-button w3-black w3-padding-large w3-margin-bottom w3-hide-medium w3-hide-large" onclick="window.location.href='{{ paginator.previous_page_path }}#entries'" >&larr; </button>
		{% endif %}
		<button class="w3-button w3-padding-large w3-white w3-border w3-margin-bottom" >Page: {{ paginator.page }} of {{ paginator.total_pages }}</button>
		{% if paginator.next_page %}
			<button class="w3-button w3-black w3-padding-large w3-margin-bottom w3-hide-small" onclick="window.location.href='{{ paginator.next_page_path }}#entries'" >Next &rarr;</button>
			<button class="w3-button w3-black w3-padding-large w3-margin-bottom w3-hide-medium w3-hide-large" onclick="window.location.href='{{ paginator.next_page_path }}#entries'" > &rarr;</button>
		{% endif %}
	{% endif %}
</footer>

